## Import Library

In [2]:
import os
import re
import nltk
import spacy
import string
import textract
import pandas as pd
from matplotlib import pylab
from matplotlib import pyplot as plt

from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from wordcloud import WordCloud, STOPWORDS
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer

import warnings
warnings.filterwarnings('ignore')

F:\Anaconda\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
os.listdir('Dataset/Convert Resumes/')

['PeopleSoft', 'React JS Developer', 'SQL Developer', 'Workday']

## Extract Text From Datasets

In [4]:
file_path1 = []
category1 = []
directory1 = 'Dataset/Convert Resumes/PeopleSoft/'
for i in os.listdir(directory1):
    if i.endswith('.docx'):
        os.path.join(directory1, i)
        file_path1.append((textract.process(os.path.join(directory1, i))))
        category1.append('Peoplesoft')

In [5]:
data1 = pd.DataFrame(data = file_path1, columns = ['Details'])
# data1['category1'] = category1
data1

                                              Details
0   b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...
1   b'G. Ananda Rayudu \n\n\t\t       https://www....
2   b'PeopleSoft Database Administrator\n\n       ...
3   b'Classification: Internal\n\nClassification: ...
4   b'Priyanka Ramadoss\n\n\t61/46, MountPleasant,...
5   b"SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n...
6   b"PEOPLESOFT Administrator\n\n\n\n\n\nSRINIVAS...
7   b"PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCar...
8   b'Vinod Akkala                                ...
9   b"PeopleSoft Admin/PeopleSoft DBA\n\n\n\nGanes...
10  b'PeopleSoft Administration\n\n \n\nVivekanand...
11  b'Arun Venu\n\n\n\n\t  EXPERIENCE SUMMARY\t\n\...
12  b'Personal Details\t\t\n\n\n\nName\n\nPritam B...
13  b'Rahul Ahuja\n\n-----------------------------...
14  b'Hari Narayana \t\t              \n\n\t\n\n\n...
15  b'Murali\t\t       \n\n\t\n\n\n\n\n\n\n\n\n\n\...
16  b'Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\...
17  b'R Ahmed                                     ...
18  b"C O N T A C T :\n\n\n\nAddress: Manyata Tech...
19  b'Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nS...

In [6]:
file_path2 = []
category2 = []
directory2 = 'Dataset/Convert Resumes/React JS Developer/'
for i in os.listdir(directory2):
    if i.endswith('.docx'):
        os.path.join(directory2, i)
        file_path2.append((textract.process(os.path.join(directory2, i))))
        category2.append('React JS Developer')

In [7]:
data2 = pd.DataFrame(data = file_path2, columns = ['Details'])
# data2['category2'] = category2
data2

                                              Details
0   b'Name: Ravali P \n\n\n\n                     ...
1   b'SUSOVAN  BAG   \n\nSeeking  a  challenging  ...
2   b'Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREE...
3   b'HARIPRIYA BATTINA \n\nExperience as UI Devel...
4   b'KAMALAKAR REDDY. A \n\nLinked In: https://ww...
5   b'Ui-Developer/ React JS Developer \n\nNAME: K...
6   b'Ui-Developer/ React JS Developer \n\nNAME: K...
7   b'Naveen Sadhu\n\n\n\n\n\nTitle: software deve...
8   b'FULLSTACK SOFTWARE DEVELOPER / WEB DEVELOPER...
9   b'PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertis...
10  b"SARALA MADASU\n\nSARALA MADASU\n\n\xee\xa5\x...
11  b"Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2...
12  b"Maryala Vinay Reddy\n\n\n\n\tProfessional Su...
13  b'FULLSTACK SOFTWARE DEVELOPER / WEB DEVELOPER...
14  b'KAMBALA SAI SURENDRA   \n\n \n\n \n\n \n\n\n...
15  b'Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\...
16  b'MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW...
17  b'MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVER...
18  b'MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n ...
19  b'Name: M. Prabakaran \nTitle: UI Developer\n\...
20  b'Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCa...
21  b"Ranga Gaganam  \n\n\n\n \n\nProfessional\n\n...
22  b'SHAIK ABDUL SHARUK   \n\n2 years\xe2\x80\x99...
23  b'Venkatalakshmi Pedireddy\n\nSoftware Develop...

In [8]:
file_path3 = []
category3 = []
directory3 = 'Dataset/Convert Resumes/SQL Developer/'
for i in os.listdir(directory3):
    if i.endswith('.docx'):
        os.path.join(directory3, i)
        file_path3.append((textract.process(os.path.join(directory3, i))))
        category3.append('SQL Developer')

In [9]:
data3 = pd.DataFrame(data = file_path3, columns = ['Details'])
# data3['category3'] = category3
data3

                                              Details
0   b'ANIL KUMAR MADDUKURI  \t\t\n\nSQL & MSBI Dev...
1   b'Aradhana Tripathi\n\n\n\nCurrent Location: G...
2   b"BUDDHA VAMSI                                ...
3   b'KAMBALLA PRADEEP                            ...
4   b"\xef\x81\x81 Hyderabad\n\n\nNazeer Basha\n\n...
5   b'Resume\n\nName     :  Neeraj Mishra\n\n\n\nE...
6   b'SQL DEVELOPER\n\nName: -   Bandi prem sai\n\...
7   b'SQL SERVER DEVELOPER\n\n\n\n\n\nPriyanka L  ...
8   b'SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kuma...
9   b'RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfession...
10  b'resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRa...
11  b'Name: Ramesh\n\n\t\n\n\tCareer Objective: \n...
12  b'SQL SERVER DEVELOPER\n\n\n\n\n\nPriyanka L  ...
13  b'SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVEL...

In [10]:
file_path4 = []
category4 = []
directory4 = 'Dataset/Convert Resumes/Workday/'
for i in os.listdir(directory4):
    if i.endswith('.docx'):
        os.path.join(directory4, i)
        file_path4.append((textract.process(os.path.join(directory4, i))))
        category4.append('Workday')

In [11]:
data4 = pd.DataFrame(data = file_path4, columns = ['Details'])
# data4['category4'] = category4
data4

                                              Details
0   b'Chinna Subbarayudu M\n\nDOB: 06th March 1994...
1   b'Name         : Gopi Krishna Reddy\n\n\t\t\t\...
2   b"Hari Krishna M\n\n\n\n\n\nSummary:\n\nA resu...
3   b"Harikrishna Akula                           ...
4   b'HIMA.MENDU\n\n\t  \n\n\n\nCareer Objective\n...
5   b'G Himaja\n\n                                ...
6   b"Name:\tJ. Sumanth Royal.\n\n\t\n\nPROFESSION...
7   b'JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SU...
8   b'Madeeswar A\n\n\t\n\n\t\t\n\n\t\t\tPROFILE S...
9   b'Mooraboyina Guravaiah\n\nWorkday Integration...
10  b'Name\t: Naresh Babu Cherukuri\n\n\n\nObjecti...
11  b'VENKATA SAIKRISHNA\n\n Workday Consultant\n\...
12  b'Punugoti Swetha\n\nWorkday Technical Consult...
13  b'Workday HCM  Techno functional Consultant   ...
14  b'Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
15  b'Shireesh Balasani                           ...
16  b"Workday Integration Consultant\n\n\n\nName  ...
17  b'Srikanth (WORKDAY hCM Consultant)\t         ...
18  b'WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\...
19  b'Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consu...
20  b'Vinay kumar .v\nWorkday Functional Consultan...

## Create a DataFrame

In [12]:
data_resume = data1.append([data2, data3, data4], ignore_index = True)
data_resume

                                              Details
0   b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...
1   b'G. Ananda Rayudu \n\n\t\t       https://www....
2   b'PeopleSoft Database Administrator\n\n       ...
3   b'Classification: Internal\n\nClassification: ...
4   b'Priyanka Ramadoss\n\n\t61/46, MountPleasant,...
..                                                ...
74  b"Workday Integration Consultant\n\n\n\nName  ...
75  b'Srikanth (WORKDAY hCM Consultant)\t         ...
76  b'WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\...
77  b'Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consu...
78  b'Vinay kumar .v\nWorkday Functional Consultan...

[79 rows x 1 columns]

## Merge all column in One column

In [13]:
data_resume['category'] = category1 + category2 + category3 + category4
data_resume

                                              Details    category
0   b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...  Peoplesoft
1   b'G. Ananda Rayudu \n\n\t\t       https://www....  Peoplesoft
2   b'PeopleSoft Database Administrator\n\n       ...  Peoplesoft
3   b'Classification: Internal\n\nClassification: ...  Peoplesoft
4   b'Priyanka Ramadoss\n\n\t61/46, MountPleasant,...  Peoplesoft
..                                                ...         ...
74  b"Workday Integration Consultant\n\n\n\nName  ...     Workday
75  b'Srikanth (WORKDAY hCM Consultant)\t         ...     Workday
76  b'WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\...     Workday
77  b'Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consu...     Workday
78  b'Vinay kumar .v\nWorkday Functional Consultan...     Workday

[79 rows x 2 columns]

In [14]:
data_resume = data_resume[['category', 'Details']]

## Final Dataset

In [15]:
data_resume.head(30)

              category                                            Details
0           Peoplesoft  b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...
1           Peoplesoft  b'G. Ananda Rayudu \n\n\t\t       https://www....
2           Peoplesoft  b'PeopleSoft Database Administrator\n\n       ...
3           Peoplesoft  b'Classification: Internal\n\nClassification: ...
4           Peoplesoft  b'Priyanka Ramadoss\n\n\t61/46, MountPleasant,...
5           Peoplesoft  b"SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n...
6           Peoplesoft  b"PEOPLESOFT Administrator\n\n\n\n\n\nSRINIVAS...
7           Peoplesoft  b"PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCar...
8           Peoplesoft  b'Vinod Akkala                                ...
9           Peoplesoft  b"PeopleSoft Admin/PeopleSoft DBA\n\n\n\nGanes...
10          Peoplesoft  b'PeopleSoft Administration\n\n \n\nVivekanand...
11          Peoplesoft  b'Arun Venu\n\n\n\n\t  EXPERIENCE SUMMARY\t\n\...
12          Peoplesoft  b'Personal Details\t\t\n\n\n\nName\n\nPritam B...
13          Peoplesoft  b'Rahul Ahuja\n\n-----------------------------...
14          Peoplesoft  b'Hari Narayana \t\t              \n\n\t\n\n\n...
15          Peoplesoft  b'Murali\t\t       \n\n\t\n\n\n\n\n\n\n\n\n\n\...
16          Peoplesoft  b'Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\...
17          Peoplesoft  b'R Ahmed                                     ...
18          Peoplesoft  b"C O N T A C T :\n\n\n\nAddress: Manyata Tech...
19          Peoplesoft  b'Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nS...
20  React JS Developer  b'Name: Ravali P \n\n\n\n                     ...
21  React JS Developer  b'SUSOVAN  BAG   \n\nSeeking  a  challenging  ...
22  React JS Developer  b'Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREE...
23  React JS Developer  b'HARIPRIYA BATTINA \n\nExperience as UI Devel...
24  React JS Developer  b'KAMALAKAR REDDY. A \n\nLinked In: https://ww...
25  React JS Developer  b'Ui-Developer/ React JS Developer \n\nNAME: K...
26  React JS Developer  b'Ui-Developer/ React JS Developer \n\nNAME: K...
27  React JS Developer  b'Naveen Sadhu\n\n\n\n\n\nTitle: software deve...
28  React JS Developer  b'FULLSTACK SOFTWARE DEVELOPER / WEB DEVELOPER...
29  React JS Developer  b'PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertis...

In [16]:
data_resume.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  79 non-null     object
 1   Details   79 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

In [17]:
data_resume['Details'][4]

b'Priyanka Ramadoss\n\n\t61/46, MountPleasant, \n\n\tCoonoor\n\n\tThe Nilgiris- 643102                                                                                            \n\n\t\n\nCareer Objective\n\n\n\nTo excel as a software professional by working in a learning and challenging environment and utilize the skills and knowledge through diligence, dedication and ensure maximum contribution to the growth of the organization I work for.\n\n\t\n\nProfile Summary\n\n\n\nAn Adept IT professional with 4.11 years (September 2016 - present) of experience as Peoplesoft Admin with Accenture\n\n\t\n\nProfessional Summary\n\n\n\nPeopleSoft Administrator (September 2016-Present)\n\n\n\nExperience in PeopleSoft Administration for Finance application.\n\nProficient in creating and configuring PeopleSoft components like Web server, Application server and process schedulers.\n\nActive monitoring in Non production databases and applications.\n\nKnowledgeable on PeopleSoft migrations using application designer, data mover and taking compare reports and also moving the codes from DEV to TEST and production environments.\n\nUsage of HP PPM tool as well to perform PeopleSoft migrations and compare report generation.\n\nFull life cycle installation of PeopleSoft Environments.\n\nPre and Post database Refresh activities.\n\nChange package creation and applying bug fixes using change assistant to Peoplesoft DB. \n\nProficient in administration of Peoplesoft server components like application server, process scheduler, webserver. (Peoplesoft Internet Architecture)\n\nGood knowledge on basic PeopleSoft configurations like Integration Broker setup, PUM Setup, SSL and File attachments and trouble shooting them.\n\nHands on experience in Peoplesoft security level activities like creating user profile, assigning roles and permission list.\n\nSSO login creation for users by renewing web certificates.\n\nPerforming SOX checks and migrations as part of Production releases on monthly basis.\n\nConversant on the usage of Control-M V9 tool that is used for creating and scheduling the jobs.\n\nExperienced in setting up batch profile setup in server level for running control-m jobs in testing and production environments. \n\nPeoplesoft batch monitoring and implementation.\n\nWorked on Change Assistant.\n\nExperience in applying People tools patches.\n\nExperience in creating change packagees and target databases in CA and online.\n\nExperience in working in both Unix and Windows.\n\nWorked on Delphix virtual databases for non production database refreshes.\n\nCarrying out maintenance activities in servers.\n\nGood communication, Leadership abilities and problem solving skills.\n\n\n\nVMware ITBM Application Support Associate \n\n\n\nConfiguring and maintaining infrastructure for ITBM application in Windows OS.\n\nWorked on Apache Tomcat 7.0.39 and 7.0.52.\n\nVMware ITBM 80 and 82 versions on windows server.\n\nSSL configuration\n\nComplete batch setup in windows envrironment.\n\nHandling production and non production databases in ITBM\n\n\n\n\n\nTools and Technologies\n\n\n\nOperating Systems\n\nWindows 2007/2008/2012 server R2\n\n Solaris Server and Linux Red hat Version\n\nApache Tomcat 7.0.39 and 7.0.52\n\nAWS Service Tools\n\nCompute\n\nStorage\n\nNetworks\n\nDatabases\n\nMonitoring\n\nIdentity access management\n\nProject Management Tools\n\nOdyssey Dashboard\n\nOdyssey JIRA\n\nService Now\n\nTransporter\n\n\n\nDatabases\n\nSQL Developer\n\n\n\nPeopleSoft People Tools\n\n8.55.06\n\n8.55.22\n\n8.57\n\n\n\nPeopleSoft Application\n\n   FSCM and 9.22 version\n\n\n\nReporting and PS Tools\n\nApplication Designer\n\nData Mover\n\nDelphix virtual database\n\nConfiguration Manager\n\nChange Assistant\n\nSQR, N-Vision,\n\nControl-M Scheduler \n\nHP PPM\n\nSQL developer\n\nCentrify Putty\n\nConfiguration manager\n\n\t\n\n\t\n\nKey Achievements :\n\n\n\n\tInfrastructure support for Production environments and also provide system contingency plans.\n\n\tAnalyze technical and functional aspects of the supported applications and troubleshoot problems based on requirements.\n\n\tDetailed Analysis and Reporting of Project activities.\n\n\t\n\n\tExperience Summary:\n\n\t\n\n\tOrganization : Accenture Solutions Pvt Ltd.\n\n\tClient : Credit - Suisse\n\n\tClient Description : Credit Suisse Group AG is a global wealth manager, investment bank and financial services company providing services in investment banking, provate banking and asset management and sahred services.\n\n\tResponsibility:  Environment administration and management for a financial application.\n\n\tLocation : Bangalore\n\n\tDuration : September 2016- Present\n\n\t\n\n\t\n\nEducation\n\n\n\n\n\nCourse\n\n\n\nSchool/College\n\n\n\nBoard/University\n\nYear of passing\n\n\n\nPercentage\n\n\n\nB.E - ECE\n\n\n\nSri Krishna College of Engineering and Technology, Coimbatore\n\n\n\nAnna University\n\n\n\n2016\n\n86%\n\n\t\n\n\n\nHSC\n\nBharathi Vidya Bhavan,\n\nErode\n\nState Board of Technical Education\n\n\t\n\n\t2012\n\n\t\t             96.08%\n\n\t\t        School Topper\n\nS.S.L.C\n\nSt. Joseph\xe2\x80\x99s Convent Anglo Indian Girls Higher Secondary School,\n\nThe Nilgiris\n\nAnglo-Indian\n\n2010\n\n\t\t93.8%\n\n\t\t          District Third\n\n\n\nPersonal Profile\n\n\n\nOotacamund  (Ooty),\n\nTamil Nadu district\n\nPlace of birth\n\nTamil \xe2\x80\x93 Native\n\nEnglish - Advanced- Comprehension - Oral\n\nKannada - Intermediate \xe2\x80\x93 Oral\n\nHindi -  Intermediate\n\nSanskrit- Intermediate\n\nLanguages\n\nReading books, Yoga, Gardening, Surfing.\n\nHobbies'

## Save new CSV File

In [18]:
data_resume.to_csv('Dataset\Raw_resume.csv', index = False)

## Data Understanding

In [19]:
data_resume= pd.read_csv('Dataset\Raw_resume.csv')
data_resume

      category                                            Details
0   Peoplesoft  b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...
1   Peoplesoft  b'G. Ananda Rayudu \n\n\t\t       https://www....
2   Peoplesoft  b'PeopleSoft Database Administrator\n\n       ...
3   Peoplesoft  b'Classification: Internal\n\nClassification: ...
4   Peoplesoft  b'Priyanka Ramadoss\n\n\t61/46, MountPleasant,...
..         ...                                                ...
74     Workday  b"Workday Integration Consultant\n\n\n\nName  ...
75     Workday  b'Srikanth (WORKDAY hCM Consultant)\t         ...
76     Workday  b'WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\...
77     Workday  b'Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consu...
78     Workday  b'Vinay kumar .v\nWorkday Functional Consultan...

[79 rows x 2 columns]

In [20]:
data_resume[data_resume.category == 'Workday']

   category                                            Details
58  Workday  b'Chinna Subbarayudu M\n\nDOB: 06th March 1994...
59  Workday  b'Name         : Gopi Krishna Reddy\n\n\t\t\t\...
60  Workday  b"Hari Krishna M\n\n\n\n\n\nSummary:\n\nA resu...
61  Workday  b"Harikrishna Akula                           ...
62  Workday  b'HIMA.MENDU\n\n\t  \n\n\n\nCareer Objective\n...
63  Workday  b'G Himaja\n\n                                ...
64  Workday  b"Name:\tJ. Sumanth Royal.\n\n\t\n\nPROFESSION...
65  Workday  b'JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SU...
66  Workday  b'Madeeswar A\n\n\t\n\n\t\t\n\n\t\t\tPROFILE S...
67  Workday  b'Mooraboyina Guravaiah\n\nWorkday Integration...
68  Workday  b'Name\t: Naresh Babu Cherukuri\n\n\n\nObjecti...
69  Workday  b'VENKATA SAIKRISHNA\n\n Workday Consultant\n\...
70  Workday  b'Punugoti Swetha\n\nWorkday Technical Consult...
71  Workday  b'Workday HCM  Techno functional Consultant   ...
72  Workday  b'Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
73  Workday  b'Shireesh Balasani                           ...
74  Workday  b"Workday Integration Consultant\n\n\n\nName  ...
75  Workday  b'Srikanth (WORKDAY hCM Consultant)\t         ...
76  Workday  b'WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\...
77  Workday  b'Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consu...
78  Workday  b'Vinay kumar .v\nWorkday Functional Consultan...

In [21]:
data_resume.isna().sum()

category    0
Details     0
dtype: int64

## Number of word in each Resume

In [22]:
data_resume['Word_count'] = data_resume['Details'].apply(lambda x: len(str(x).split(" ")))
data_resume[['Details', 'Word_count']].head()

                                             Details  Word_count
0  b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...        1023
1  b'G. Ananda Rayudu \n\n\t\t       https://www....        1451
2  b'PeopleSoft Database Administrator\n\n       ...        1346
3  b'Classification: Internal\n\nClassification: ...         558
4  b'Priyanka Ramadoss\n\n\t61/46, MountPleasant,...         667

## Number of Characters

In [23]:
data_resume['Char_count'] = data_resume['Details'].str.len()
data_resume[['Details', 'Char_count']].head()

                                             Details  Char_count
0  b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...        8487
1  b'G. Ananda Rayudu \n\n\t\t       https://www....        9158
2  b'PeopleSoft Database Administrator\n\n       ...        7336
3  b'Classification: Internal\n\nClassification: ...        5386
4  b'Priyanka Ramadoss\n\n\t61/46, MountPleasant,...        5587

## Number of Numerics

In [24]:
data_resume['Numerics'] = data_resume['Details'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data_resume[['Details', 'Numerics']].head()

                                             Details  Numerics
0  b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...         3
1  b'G. Ananda Rayudu \n\n\t\t       https://www....         4
2  b'PeopleSoft Database Administrator\n\n       ...         3
3  b'Classification: Internal\n\nClassification: ...         4
4  b'Priyanka Ramadoss\n\n\t61/46, MountPleasant,...         4

## Number of Stopped

In [25]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
data_resume['stopwords'] = data_resume['Details'].apply(lambda x: len([x for x in x.split() if x in stop]))
data_resume[['Details', 'stopwords']].head()

                                             Details  stopwords
0  b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...        190
1  b'G. Ananda Rayudu \n\n\t\t       https://www....        186
2  b'PeopleSoft Database Administrator\n\n       ...        177
3  b'Classification: Internal\n\nClassification: ...        114
4  b'Priyanka Ramadoss\n\n\t61/46, MountPleasant,...        123

In [27]:
data_resume

,category,Details,Word_count,Char_count,Numerics,stopwords
0,Peoplesoft,b'Anubhav Kumar Singh\t\t\n\n\n\nCore Competen...,1023,8487,3,190
1,Peoplesoft,b'G. Ananda Rayudu \n\n\t\t https://www....,1451,9158,4,186
2,Peoplesoft,b'PeopleSoft Database Administrator\n\n ...,1346,7336,3,177
3,Peoplesoft,b'Classification: Internal\n\nClassification: ...,558,5386,4,114
4,Peoplesoft,"b'Priyanka Ramadoss\n\n\t61/46, MountPleasant,...",667,5587,4,123
...,...,...,...,...,...,...
74,Workday,"b""Workday Integration Consultant\n\n\n\nName ...",904,7398,3,194
75,Workday,b'Srikanth (WORKDAY hCM Consultant)\t ...,1063,7067,9,194
76,Workday,b'WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\...,1076,8791,4,235
77,Workday,b'Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consu...,1035,7297,5,192
78,Workday,b'Vinay kumar .v\nWorkday Functional Consultan...,702,5426,2,150

## Text Pre-Processing

In [28]:
def preprocess(sentence):
    sentence = str(sentence)
    sentence = sentence.lower()
    sentence = sentence.replace('{html}', '')
    cleaner = re.compile('<.*?')
    cleantext = re.sub(cleaner, '', sentence)
    rem_url = re.sub(r'http\S+', '', cleantext)
    rem_num = re.sub('[0-9]+', '', rem_url)
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(rem_num)
    filtered_words = [w for w in tokens if len(w) > 2 if not w in stopwords.words('english')]
    
    
    return " ".join(filtered_words)

In [29]:
data_resume= pd.read_csv('Dataset\Raw_resume.csv')
data_resume['Resume_Details'] = data_resume.Details.apply(lambda x: preprocess(x))
data_resume['Details'] = data_resume['Details'].str.replace("b'","")
data_resume['Details'] = data_resume['Details'].str.replace('b"','')

In [30]:
data_resume

,category,Details,Resume_Details
0,Peoplesoft,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,anubhav kumar singh ncore competencies nscript...
1,Peoplesoft,G. Ananda Rayudu \n\n\t\t https://www.li...,ananda rayudu ananda rayudu summary years expe...
2,Peoplesoft,PeopleSoft Database Administrator\n\n ...,peoplesoft database administrator ngangareddy ...
3,Peoplesoft,Classification: Internal\n\nClassification: In...,classification internal nclassification intern...
4,Peoplesoft,"Priyanka Ramadoss\n\n\t61/46, MountPleasant, \...",priyanka ramadoss mountpleasant tcoonoor tthe ...
...,...,...,...
74,Workday,Workday Integration Consultant\n\n\n\nName ...,workday integration consultant nname sri krish...
75,Workday,Srikanth (WORKDAY hCM Consultant)\t ...,srikanth workday hcm consultant nseeking suita...
76,Workday,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,workday hcm fcm nname kumar nrole workday cons...
77,Workday,Venkateswarlu.B\t\t\t\t\t\t\t\tWorkday Consult...,venkateswarlu tworkday consultant nprofessiona...
78,Workday,Vinay kumar .v\nWorkday Functional Consultant\...,vinay kumar nworkday functional consultant nex...

## Save the clean data

In [31]:
data_resume.drop(['Details'], axis = 1, inplace = True)
data_resume

      category                                     Resume_Details
0   Peoplesoft  anubhav kumar singh ncore competencies nscript...
1   Peoplesoft  ananda rayudu ananda rayudu summary years expe...
2   Peoplesoft  peoplesoft database administrator ngangareddy ...
3   Peoplesoft  classification internal nclassification intern...
4   Peoplesoft  priyanka ramadoss mountpleasant tcoonoor tthe ...
..         ...                                                ...
74     Workday  workday integration consultant nname sri krish...
75     Workday  srikanth workday hcm consultant nseeking suita...
76     Workday  workday hcm fcm nname kumar nrole workday cons...
77     Workday  venkateswarlu tworkday consultant nprofessiona...
78     Workday  vinay kumar nworkday functional consultant nex...

[79 rows x 2 columns]

In [32]:
data_resume.to_csv('Dataset\cleaned_data.csv', index = False)

In [33]:
data_resume= pd.read_csv('Dataset\cleaned_data.csv')
data_resume

      category                                     Resume_Details
0   Peoplesoft  anubhav kumar singh ncore competencies nscript...
1   Peoplesoft  ananda rayudu ananda rayudu summary years expe...
2   Peoplesoft  peoplesoft database administrator ngangareddy ...
3   Peoplesoft  classification internal nclassification intern...
4   Peoplesoft  priyanka ramadoss mountpleasant tcoonoor tthe ...
..         ...                                                ...
74     Workday  workday integration consultant nname sri krish...
75     Workday  srikanth workday hcm consultant nseeking suita...
76     Workday  workday hcm fcm nname kumar nrole workday cons...
77     Workday  venkateswarlu tworkday consultant nprofessiona...
78     Workday  vinay kumar nworkday functional consultant nex...

[79 rows x 2 columns]

In [34]:
data_resume.Resume_Details[5]

'sirazuddin tbangalore india nsirazuddin tbangalore india nprofile summary overall years experience peoplesoft administrator installed peopletools scratch including products nexperience peopletools application hrms fscm deterministic approach towards problem solving troubleshooting nproficient integration broker nupgraded fscm hcm applications peopletools peopletools neducation ngraduated tech electronics communication engg college engineering vizianagaram jntuk aggregate nachieved marks standard scored standard nachievements nawarded bravo pat back techahindra nawarded associate month award innovator month time awarded spot pat back capgemini nwork experience ncapgemini may till nproduction support finance environment respective non production environments nproject experience nproject name axa nrole consultant nenvironment windows server ncognizant technol ogy sol ions augus april nvoya financial insurance client project deals support managing finance applications nproject experience nproject name voya financials nrole associate nenvironment windows server tech mahindra limit july augus npeoplesoft implemented fin application peoplesoft implementation project includes peoplesoft applications interfaces third party applications interfaces live production peoplesoft environment sdlc nproject experience project name nrole environment cio common software engineer solaris windows server nresponsibilities nprovided administrative supports peoplesoft tools version application hrms financials scm modules windows unix ncreation indexes tables application designer npeoplesoft database setup troubleshooting issues daily peoplesoft admin activities nconfigured peoplesoft application server process scheduler web server domains setup master scheduler ninstalling oracle tuxedo weblogic java application disk fscm hcm oracle database unix windows servers scratch ninstalled peopletools hcm fscm demo database upgraded fscm application peopletools peopletools applied patch fscm nconfigured report nodes bouncing app web process schedulers clearing cache nperformed pre refresh post refresh activity database cloning activity nrecompilation cobol source codes nworked project migrations using application designer change assistant napplied image fscm using pum change assistant good hands experience application designer data mover change assistant well aware pia peoplesoft internet architecture nconfiguring integration broker report nodes ncreating udm file transfer interfaces monitoring ndeploying gnupg keys certificates servers ninstalled configured elastic search ntools used npeopletools application designer data mover ntoad sqldeveloper microsoft sql management studio noracle xaoracle microsoft sql server nfilezilla winscp pcomm tws service silva ntraining certifications noracle cloud infrastructure architect associate noracle cloud infrastructure architect professional'

## Named Entity Recognition

In [38]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [39]:
oneSetOfStopWords = set(stopwords.words('english')+['``',"''"])
totalWords = []
Sentences = data_resume['Resume_Details'].values
cleanedSentences = ""
for records in Sentences:
    cleandText = preprocess(records)
    cleanedSentences += cleandText
    requiredWords = nltk.word_tokenize(cleandText)
    for word in requiredWords:
        if word not in oneSetOfStopWords and word not in string.punctuation:
            totalWords.append(word)
                
wordfreq = nltk.FreqDist(totalWords)
mostcommon = wordfreq.most_common(50)
print(mostcommon)

[('using', 384), ('application', 380), ('peoplesoft', 367), ('server', 358), ('workday', 349), ('experience', 340), ('data', 329), ('reports', 322), ('business', 267), ('sql', 265), ('process', 235), ('database', 213), ('web', 206), ('nexperience', 198), ('system', 191), ('integrations', 185), ('knowledge', 183), ('tools', 179), ('integration', 178), ('like', 176), ('support', 171), ('hcm', 165), ('development', 157), ('skills', 155), ('nproject', 153), ('servers', 152), ('services', 152), ('testing', 146), ('various', 145), ('report', 145), ('people', 141), ('creating', 139), ('management', 135), ('team', 134), ('security', 133), ('developer', 133), ('production', 131), ('issues', 131), ('eib', 130), ('project', 129), ('studio', 129), ('client', 124), ('custom', 124), ('oracle', 119), ('nworked', 115), ('domains', 115), ('core', 114), ('scheduler', 111), ('new', 110), ('requirements', 109)]

## Part of Speech Tagging

In [41]:
nlp = spacy.load('en_core_web_lg')

one_block = cleanedSentences[1300:5200]
doc_block = nlp(one_block)
spacy.display.reader(doc_block, style = 'ent', jupyter = True)

OSError: [E050] Can't find model 'en_core_web_lg'. It doesn't seem to be a Python package or a valid path to a data directory.